* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.allWrap {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #07183a, #4cabae, #ccffd7);
  color: #fff;
  position: relative;
  text-align: center;
}
.allWrap h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
}
.inputArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  margin-bottom: 2rem;
}
input {
  height: 4rem;
  width: 50%;
  outline: none;
  border: none;
  border-radius: 3rem;
  padding-left: 2rem;
  font-size: 1.1rem;
}
button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
#icon {
  width: 20rem;
  height: 20rem;
  font-size: 15rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#icon.fade-in {
  opacity: 1;
}
.weather li {
  font-size: 2rem;
}
.weather li span {
  display: inline-block;
}
.else {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.else img {
  width: 15%;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.wrap span {
  font-size: 2rem;
}

#temp {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 1rem;
}
#des {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 1rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
